# --- Global ---
.DS_Store
.env

# --- Go Backend ---
/supply-chain-simulation/*.exe
/supply-chain-simulation/*.exe~
/supply-chain-simulation/*.dll
/supply-chain-simulation/vendor/

# --- React Frontend ---
/frontend/node_modules/
/frontend/dist/
/frontend/build/
/frontend/.vscode/